@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Nutgame';
    src: url('assets/fonts/Nutgame.ttf') format('truetype');
    font-weight: 400;
    font-style: 400;
}

@font-face {
    font-family: 'Nutgame';
    src: url('assets/fonts/NutgameDEMO-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: 300;
}

@font-face {
    font-family: 'Nutgame';
    src: url('assets/fonts/NutgameDEMO-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: 600;
}

@font-face {
    font-family: 'Nutgame';
    src: url('assets/fonts/NutgameDEMO-BoldItalic.ttf') format('truetype');
    font-weight: 650;
    font-style: 650;
}

@font-face {
    font-family: 'Nutgame';
    src: url('assets/fonts/NutgameDEMO-Italic.ttf') format('truetype');
    font-weight: 450;
    font-style: 450;
}

@font-face {
    font-family: 'Nutgame';
    src: url('assets/fonts/NutgameDEMO-LightItalic.ttf') format('truetype');
    font-weight: 350;
    font-style: 350;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #000;
    font-family: 'DM Sans', sans-serif;
    overflow: none;
    scroll-behavior: none;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    padding: 24px 32px;
    position: fixed;
    top: 0;
    z-index: 10;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
}

.svg-container img {
    width: 72px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    opacity: 0;
}

.stagger-link {
    text-decoration: none;
    overflow: hidden;
}

li {
    overflow: hidden;
}

.stagger-link-text {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

a[stagger-link] [stagger-link-text]{
    text-shadow: 0px 1em 0px rgba(255, 255, 255, 0.8); 
}

.home-wrapper {
    width: 100vw;
    overflow: none;
    scroll-behavior: none;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    scroll-behavior: none;
}

.hero-content {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 140%;
    font-size: 1em;
    mix-blend-mode: difference;
    text-align: left;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.key-hiring-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 8px;
}

.hero-section-content-bubble {
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 72px;
    bottom: 72px;
    width: 400px;
    background-color: rgba(0, 0, 8, 0.5);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.025);
}

.hero-section-content-bubble h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    letter-spacing: -0.5px;
    font-weight: 400;
    line-height: 160%;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
    padding: 0;
}

.hero-section-content-bubble-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
    margin-top: 24px;
}

.open {
    margin-bottom: 12px;
}

.hero-section-content-bubble-buttons div {
    display: flex;
    flex-direction: row;
}

.hero-section-content-bubble-buttons div span {
    color: rgba(255, 255, 255, 0.4);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    font-weight: 500;
}

.hero-section-content-bubble-buttons a span {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: -0.8px;
}

a:hover {
    background-color: rgba(49, 49, 227, 1);
    cursor: pointer;
}

a:hover span {
    color: white;
}

.key-hiring-btn {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    align-items: flex-start;
}

.hidden {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    transform: translateX(12px);
    transition: all 0.2s ease;
}

.hidden svg {
    opacity: 0;
    transform: translateX(-12px);
    transition: all 0.2s ease;
}

.key-hiring-btn:hover svg {
    opacity: 1;
    transform: translateX(0);
}

.key-hiring-btn:hover .hidden {
    transform: translateX(0);
}

.key-hiring-btn:hover h3 {
    color: white;
}

.hidden-bottom h3 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.hidden h3 {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
}

.contact {
    margin-top: 24px;
}

.contact:hover {
    background-color: blueviolet;
}

@media (max-width:1024px) {
    img {
        width: 100%;
        height: 100%;
        flex-shrink: 1;
        flex: 1;
    }

    body, html {
        overflow: hidden;
        scroll-behavior: none;
    }

    .hero-section-content-bubble {
        width: 400px;
        max-width: 430px;
        min-width: 340px;
        left: 15px;
        bottom: 24px;
    }

    .hero-content{
        display: none;
    }

    .hero-section-content-bubble h1 {
        font-size: 16px;
    }

    .hero-section-content-bubble h2 {
        font-size: 13px;
    }

    .key-hiring-container span {
        font-size: 14px;
    }

    .hidden h3 {
        font-size: 12px;
    }

    .hidden-bottom h3 {
        font-size: 12px;
    }

    nav {
        position: relative;
    }
}

@media (max-width:400px) {
    .hero-section-content-bubble {
        width: 360px;
    }
}